{% load i18n static %}
{% spaceless %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/g.css' %}?t={% now "U" %}">
    {% block extra_css %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}" data-wsnav="/wsnav/">
    <script>
    document.documentElement.classList.add('js');
    </script>
    {% include "header.html" %}
    <main role="main" id="main">
        {% block content %}{% endblock %}
    </main>
    {% include "footer.html" %}
    {% comment %}
    <script type="text/javascript" src="{% static 'js/msgpack.min.js' %}?t={% now "U" %}"></script>
    {# https://github.com/stefanpenner/es6-promise#readme #}
    <script type="text/javascript" src="{% static 'js/es6-promise.auto.min.js' %}?t={% now "U" %}"></script>
    {% endcomment %}
    {# https://localforage.github.io/localForage/ #}
    <script type="text/javascript" src="{% static 'js/localforage.1.7.1.min.js' %}?t={% now "U" %}"></script>
    <script type="text/javascript" src="{% static 'js/g.js' %}?t={% now "U" %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
{% endspaceless %}